/*
navy = #1b2a47
gray = #708090
gold = #d4af37
*/
* {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.main {
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: #eeeeee;
    color: #1b2a47;
}
.header {
    padding: 10px;
    background-color: #222;
}
.header-decor {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    width: 510px;
    height: 30px;
    padding: 15px;
    margin: auto;
    background-color: #1b2a47;
    border: 2px solid #708090;
    border-radius: 30px;
    color: #d4af37;
}
.header-logo {
    width: 40px;
    height: 50px;
    padding: 0px 10px;
}
.nav {
    z-index: 10;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #1b2a47;
    box-shadow: 0px 2px #708090;
}
.nav-identity {float: left;}
.nav-logo {
    float: left;
    width: 36px;
    height: 45px;
    margin: 10px;
}
.nav-text {
    float: left;
    text-align: left;
    color: white;
}
.nav-pages {float: right;}
.nav ul li {
    float: right;
    list-style-type: none;
}
.nav ul li a {
    display: flex;
    padding: 24px 24px;
    text-decoration: none;
    color: white;
}
.nav ul li a:hover:not(.active) {background-color: #111111;}
.nav ul li a.active {background-color: #d4af37;text-decoration: underline;}
.home {
    z-index: 1;
    text-align: center;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
        ),
        url("assets/background-home.jpg") center/cover no-repeat;
}
.home-welcome-text {
    text-align: center;
    padding: 40px 0px;
    font-family: 'arial';
    font-size: x-large;
    line-height: 1;
    color: #d4af37;
}
.home-umum {
    width: 310px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #1b2a47;
    border-radius: 25px;
}
.home-umum h4 {margin: 5px;}
.home-umum:hover {transform: translateY(-2px);}
.home-event-button {
    width: 150px;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    background-color: transparent;
    border: 2px solid #d4af37;
    border-radius: 25px;
    color: #d4af37;
    text-decoration: none;
    font-family: 'Times New Roman';
}
.home-event-button:hover {transform: translateY(-2px);}
.title {
    padding: 15px;
    color: #d4af37;
    text-decoration: underline;
}
.profil-information-text {
    width: 465px;
    text-align: left;
    padding: 10px;
    margin: auto;
    background-color: white;
    border: 2px solid #1b2a47;
    border-radius: 10px;
    color: #1b2a47;
}
.profil-visimisi {
    width: 1000px;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0px 3px 5px #708090;
}
.profil-visimisi:hover {transform: translateY(-2px);}
.profil-umum {
    width: 250px;
    height: 70px;
    padding: 10px;
    margin: auto;
    margin: 20px;
    background-color: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0px 3px 5px #708090;
}
.profil-umum:hover {transform: translateY(-2px);}
.profil-sejarah {
    width: 450px;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0px 3px 5px #708090;
}
.profil-sejarah:hover {transform: translateY(-2px);}
.profil-struktur {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0px 3px 5px #708090;
}
.profil-struktur:hover {transform: translateY(-2px);}
.profil-peta {
    width: 250px;
    height: auto;
    padding: 15px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0px 3px 5px #708090;
}
.profil-peta:hover {transform: translateY(-2px);}
.galeri {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.galeri-element {
    display: block;
    padding: 15px 0px;
}
.galeri-foto {
    width: 360px;
    height: 270px;
    border: 2px solid #d4af37;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #708090;
}
.galeri-foto:hover {transform: translateY(-2px);}
.unduhan {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.unduhan-gambar {
    width: 240px;
    height: 360px;
    margin: auto;
    margin-bottom: 5px;
    border: 2px solid #d4af37;
    border-radius: 5px;
}
.unduhan-gambar:hover {transform: translateY(-2px);}
.unduhan-button {
    width: 150px;
    padding: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #1b2a47;
    border: 2px solid #d4af37;
    border-radius: 25px;
    box-shadow: 0px 3px 5px #708090;
    color: #d4af37;
}
.unduhan-button:hover {transform: translateY(-2px);}
.unduhan-logo {
    width: 240px;
    height: 360px;
    padding: 3px;
}
.unduhan-logo:hover {transform: translateY(-2px);}
.footer {
    display: flex;
    justify-content: center;
    padding: 10px 100px 0px 100px;
    margin: auto;
    gap: 90px;
    background-color: #1b2a47;
    box-shadow: 0px -2px #708090;
    color: white;
}
.footer-logo {
    width: 80px;
    height: 100px;
}
.footer-icon {
    width: 15px;
    height: 15px;
    padding-right: 8px;
}
.footer-qr {
    width: 80px;
    height: 80px;
}
@media (max-width: 767px) {
    * h1 {font-size: 1.5rem;}
    * h2 {font-size: 1.17rem;}
    * h3 {font-size: 1rem;}
    * h4 {font-size: 0.83rem;}
    * h5 {font-size: 0.67rem;}
    * p {font-size: 0.83rem;}
    .header-decor {        
        width: 300px;
        height: 30px;
        padding: 15px;
        margin: auto;
    }
    .nav {
        display: block;
        top: 0;
        justify-content: center;
    }
    .nav-identity {
        float: none;
        display: flex;
        justify-content: center;
    }
    .nav-logo {
        width: 30px;
        height: 30px;
    }
    .nav-pages {
        float:none;
        display: flex;
        justify-content: center;
    }
    .nav ul li a {padding: 12px 23.2px;}
    .home {background-size: 680px 930px;}
    .profil-umum {
        width: 100px;
        height: 130px;
        margin: auto;
        margin: 10px;
    }
    .profil-umum:hover {transform: translateY(-2px);}
    .profil-visimisi {
        width: 85%;
        padding: 10px;
    }
    .profil-visimisi:hover {transform: translateY(-2px);}
    .profil-sejarah {
        width: 120px;
        height: 600px;
        padding: 15px;
        margin: 10px;
    }
    .profil-struktur {max-width: 90%;}
    .profil-peta {width: 80%;}
    .galeri {display: block;}
    .galeri-element {
        display: block;
        gap: 10px;
    }
    .galeri-foto {
        width: 330px;
        height: auto;
        margin: 5px;
    }
    .unduhan {grid-template-columns: 1fr;}
    .footer {
        display: block;
        justify-content: center;
        padding: 5px 10px 5px 10px;
    }  
    .footer ul li {list-style-type: none;}
    .footer-element {
        display: block;
        text-align: center;
        padding: 10px;
    }
}
